In [2]:
import numpy as np
import pandas as pd

In [3]:
code3interview_df = pd.read_excel('PA_Team_Interview_Dataset_14374203.xlsx')

In [4]:
code3interview_df

,campaign_name,creative_name,month,spend,impressions,clicks,conversions
0,sc-BBY-Nashville-branding,white,11,659.608460,178191.000000,132,13
1,sc-VISA-Portland-conversions,Orange,5,890.329437,210176.000000,176,197
2,sc-GAP-Portland-fanacquisition,white,8,40.911196,8039.000000,9,1
3,sc-VISA-pivot-conversions,orange,6,865.598938,176743.478261,174,197
4,sc-VISA-pivot-conversions,white**new,1,482.800695,103054.000000,98,70
...,...,...,...,...,...,...,...
174221,sc-VISA-in-conversions,white,5,228.016560,56515.000000,47,42
174222,sc-VISA-in-conversions,white,11,512.834850,111495.000000,103,71
174223,sc-BBY-NOLA-branding,orange,6,174.706085,35479.130435,33,21
174224,sc-VISA-Office-conversions,white,7,649.526350,166529.000000,130,83
174225,sc-VISA-SF-conversions,orange,12,312.639578,58694.782609,61,94

In [5]:
#How many versions of creative were run?
code3interview_df['creative_name'].value_counts()

orange         57569
white          57456
White          16998
Orange         16683
orange**new     8812
white**new      8794
black           2783
teal            2657
Black            811
Teal             807
teal**new        441
black**new       407
grey               6
grey**new          2
Name: creative_name, dtype: int64

In [ ]:
#Did the newer version of creative have any effect? If so, how much?
#Also had to combine the upper case and lower case creatives of the same color together

In [6]:
white1_df = code3interview_df[code3interview_df.creative_name == 'white']

In [7]:
white2_df = code3interview_df[code3interview_df.creative_name == 'White']

In [8]:
white_df = pd.concat([white1_df, white2_df], axis=0)

In [9]:
white_df[white_df.campaign_name]

,campaign_name,creative_name,month,spend,impressions,clicks,conversions
0,sc-BBY-Nashville-branding,white,11,659.608460,178191.000000,132,13
2,sc-GAP-Portland-fanacquisition,white,8,40.911196,8039.000000,9,1
6,sc-BBY-SF-branding,white,6,319.110352,71303.478261,64,12
7,sc_BBY_Austin_branding,white,9,517.588095,104681.739130,103,18
15,sc_VISA_your_conversions,white,11,699.265928,155505.000000,139,94
...,...,...,...,...,...,...,...
174178,sc_GAP_sleep_fanacquisition,White,7,196.250744,43536.000000,40,10
174185,sc-VISA-NOLA-conversions,White,8,339.842441,85659.000000,69,61
174191,sc-VISA-NOLA--conversions,White,5,344.567942,95429.000000,69,52
174194,sc-VISA-Office-conversions,White,12,369.154883,69778.260870,73,60
174208,sc_VISA_NOLA_conversions,White,12,682.263490,135676.521739,135,92

In [11]:
whitenew_df = code3interview_df[code3interview_df.creative_name == 'white**new']

In [12]:
white_df.mean()

month               6.496387
spend             466.466700
impressions    103435.715121
clicks             92.794961
conversions        33.015352
dtype: float64

In [13]:
whitenew_df.mean()

month               6.503525
spend             470.252132
impressions    104264.395021
clicks             93.545940
conversions        32.774733
dtype: float64

In [14]:
orange1_df = code3interview_df[code3interview_df.creative_name == 'orange']
orange2_df = code3interview_df[code3interview_df.creative_name == 'Orange']
black1_df = code3interview_df[code3interview_df.creative_name == 'black']
black2_df = code3interview_df[code3interview_df.creative_name == 'Black']
teal1_df = code3interview_df[code3interview_df.creative_name == 'teal']
teal2_df = code3interview_df[code3interview_df.creative_name == 'Teal']

In [15]:
orange_df = pd.concat([orange1_df, orange2_df], axis=0)
black_df = pd.concat([black1_df, black2_df], axis=0)
teal_df = pd.concat([teal1_df, teal2_df], axis=0)

In [16]:
blacknew_df = code3interview_df[code3interview_df.creative_name == 'black**new']
orangenew_df = code3interview_df[code3interview_df.creative_name == 'orange**new']
tealnew_df = code3interview_df[code3interview_df.creative_name == 'teal**new']
grey_df = code3interview_df[code3interview_df.creative_name == 'grey']
greynew_df = code3interview_df[code3interview_df.creative_name == 'grey**new']

In [17]:
orange_df.sum()

campaign_name    sc-VISA-pivot-conversionssc_BBY_in_brandingsc-...
creative_name    orangeorangeorangeorangeorangeorangeorangeoran...
month                                                       484025
spend                                              34765000.118207
impressions                                      7713658568.795512
clicks                                                     6916104
conversions                                                4541197
dtype: object

In [18]:
orange_df.mean()

month               6.518680
spend             468.202878
impressions    103884.859247
clicks             93.143673
conversions        61.159255
dtype: float64

In [19]:
orangenew_df.mean()

month               6.481162
spend             471.122341
impressions    104497.952328
clicks             93.724694
conversions        60.937585
dtype: float64

In [20]:
black_df.mean()

month               6.540902
spend             467.019423
impressions    103762.962994
clicks             92.890095
conversions        93.938509
dtype: float64

In [21]:
blacknew_df.mean()

month               6.621622
spend             457.263727
impressions    101451.064523
clicks             90.852580
conversions        94.371007
dtype: float64

In [22]:
teal_df.mean()

month               6.594111
spend             473.227512
impressions    105067.252862
clicks             94.143764
conversions        11.554561
dtype: float64

In [23]:
tealnew_df.mean()

month               6.319728
spend             482.293565
impressions    106254.000000
clicks             96.011338
conversions        11.226757
dtype: float64

In [24]:
grey_df.mean()

month               8.333333
spend             506.359133
impressions    112322.028986
clicks            100.500000
conversions       124.500000
dtype: float64

In [25]:
greynew_df.mean()

month               3.000000
spend             544.767739
impressions    124055.000000
clicks            108.500000
conversions        77.000000
dtype: float64

In [65]:
#Cost per acquisition (CPA) is calculated by dividing the total cost of conversions by the total number of conversions.
#CPM = 1000 * cost / impressions
#CVR = (number of conversions / clicks) x 100

In [ ]:
#Show the CPA and CVR for each campaign type that was run.
#Which campaign type was more efficient at driving conversions? By how much?

In [41]:
whitecpa = white_df.spend.sum() / white_df.conversions.sum() #$14.13
whitecpa

14.128781760854295

In [63]:
whitecvr = (white_df.conversions.sum() / white_df.clicks.sum()) * 100
whitecvr #35.58%

35.57881972326933

In [33]:
whitenewcpa = whitenew_df.spend.sum() / whitenew_df.conversions.sum() #$14.35
whitenewcpa

14.348008133498984

In [64]:
whitenewcvr = (whitenew_df.conversions.sum() / whitenew_df.clicks.sum()) * 100
whitenewcvr #35.04%

35.03597550820952

In [43]:
blackcpa = black_df.spend.sum() / black_df.conversions.sum() #$4.97
blackcpa

4.971543938875111

In [44]:
blacknewcpa = blacknew_df.spend.sum() / blacknew_df.conversions.sum() #$4.97
blacknewcpa

4.8453835550813125

In [66]:
blackcvr = (black_df.conversions.sum() / black_df.clicks.sum()) * 100
blackcvr #101.13%

101.1286607338092

In [67]:
blacknewcvr = (blacknew_df.conversions.sum() / blacknew_df.clicks.sum()) * 100
blacknewcvr #103.87%

103.87267761040646

In [47]:
orangecpa = orange_df.spend.sum() / orange_df.conversions.sum() #$7.66
orangecpa

7.655470599096858

In [48]:
orangenewcpa = orangenew_df.spend.sum() / orangenew_df.conversions.sum() #$7.73
orangenewcpa

7.731227622885533

In [68]:
orangecvr = (orange_df.conversions.sum() / orange_df.clicks.sum()) * 100
orangecvr #65.66%

65.66120174017048

In [69]:
orangenewcvr = (orangenew_df.conversions.sum() / orangenew_df.clicks.sum()) * 100
orangenewcvr #65.02%

65.01764131821936

In [54]:
tealcpa = teal_df.spend.sum() / teal_df.conversions.sum() #$40.96
tealcpa

40.95590512975141

In [56]:
tealnewcpa = tealnew_df.spend.sum() / tealnew_df.conversions.sum() #$42.96
tealnewcpa

42.95929354726566

In [70]:
tealcvr = (teal_df.conversions.sum() / teal_df.clicks.sum()) * 100
tealcvr #12.27%

12.273315466370656

In [71]:
tealnewcvr = (tealnew_df.conversions.sum() / tealnew_df.clicks.sum()) * 100
tealnewcvr #11.69%

11.693157932028058

In [59]:
greycpa = grey_df.spend.sum() / grey_df.conversions.sum() #$4.07
greycpa

4.067141630721788

In [60]:
greynewcpa = greynew_df.spend.sum() / greynew_df.conversions.sum() #$7.07
greynewcpa

7.074905700245659

In [72]:
greycvr = (grey_df.conversions.sum() / grey_df.clicks.sum()) * 100
greycvr #123.88%

123.88059701492537

In [73]:
greynewcvr = (greynew_df.conversions.sum() / greynew_df.clicks.sum()) * 100
greynewcvr #70.97%

70.96774193548387

In [74]:
grey_df

,campaign_name,creative_name,month,spend,impressions,clicks,conversions
1038,sc_BBY_Portland_branding,grey,5,884.786993,232621.000000,178,105
36669,sc-VISA-Nashville-conversions,grey,11,225.890248,50997.000000,45,164
107927,sc-GAP-pivot-fanacquisition,grey,6,727.752460,150973.043478,144,94
112617,sc-GAP-Austin-fanacquisition,grey,9,593.525295,103288.695652,118,80
131962,sc-GAP-Nashville-fanacquisition,grey,10,125.512493,23662.000000,24,26
159673,sc-VISA-Austin-conversions,grey,9,480.687309,112390.434783,94,278

In [89]:
#Are there any time period trends? If so within which metrics and what dimension are they sensitive to?
#Analyzing months for question 5
sortedbymonth_df = code3interview_df.sort_values(by='month', ascending=True)
sortedbymonth_df

,campaign_name,creative_name,month,spend,impressions,clicks,conversions
52716,sc-GAP-You-fanacquisition,orange,1,402.929409,95022.000000,78,25
158749,sc-GAP-You-fanacquisition,white,1,195.122686,50949.000000,39,11
13414,sc-BBY-NOLA-branding,white,1,66.643481,14750.000000,14,2
123161,sc-VISA-.-conversions,white,1,515.272405,115303.000000,102,73
123157,sc-BBY-.-branding,orange,1,91.848595,21676.000000,17,11
...,...,...,...,...,...,...,...
83325,sc-VISA-SF-conversions,white,12,360.887231,70349.565217,73,58
83340,sc-VISA-SF-conversions,orange,12,183.947427,41244.347826,37,69
83344,sc_BBY_._branding,White,12,326.805698,71334.782609,65,7
83166,sc-BBY-.-branding,white**new,12,46.337677,6000.000000,9,0
174225,sc-VISA-SF-conversions,orange,12,312.639578,58694.782609,61,94

In [91]:
month1_df = code3interview_df[code3interview_df.month == 1]
month2_df = code3interview_df[code3interview_df.month == 2]
month3_df = code3interview_df[code3interview_df.month == 3]
month4_df = code3interview_df[code3interview_df.month == 4]
month5_df = code3interview_df[code3interview_df.month == 5]
month6_df = code3interview_df[code3interview_df.month == 6]
month7_df = code3interview_df[code3interview_df.month == 7]
month8_df = code3interview_df[code3interview_df.month == 8]
month9_df = code3interview_df[code3interview_df.month == 9]
month10_df = code3interview_df[code3interview_df.month == 10]
month11_df = code3interview_df[code3interview_df.month == 11]
month12_df = code3interview_df[code3interview_df.month == 12]

In [90]:
#just wanted to read the file in excel when sorted by ascending order of months
#sortedbymonth_df.to_csv('sortedbymonth.csv', index=None)

In [94]:
month1_df.mean()

month               1.000000
spend             469.060983
impressions    108549.289189
clicks             93.312547
conversions        47.286502
dtype: float64

In [95]:
month2_df.mean()

month               2.000000
spend             467.836200
impressions    108542.491679
clicks             93.069824
conversions        47.491887
dtype: float64

In [96]:
month3_df.mean() #lower than others

month              3.000000
spend            466.805445
impressions    94222.134689
clicks            92.870715
conversions       46.970298
dtype: float64

In [97]:
month4_df.mean()

month               4.000000
spend             469.547075
impressions    108939.587471
clicks             93.406237
conversions        47.875598
dtype: float64

In [98]:
month5_df.mean()

month               5.000000
spend             467.812206
impressions    108606.850335
clicks             93.071305
conversions        47.442147
dtype: float64

In [99]:
month6_df.mean() #lower than others

month              6.000000
spend            465.584039
impressions    93884.002821
clicks            92.612767
conversions       46.527881
dtype: float64

In [100]:
month7_df.mean()

month               7.000000
spend             469.797113
impressions    108980.882430
clicks             93.467043
conversions        47.347613
dtype: float64

In [101]:
month8_df.mean()

month               8.000000
spend             468.598791
impressions    108512.451733
clicks             93.225109
conversions        47.583890
dtype: float64

In [102]:
month9_df.mean() #lower than others

month              9.000000
spend            465.974450
impressions    93971.470767
clicks            92.704091
conversions       47.204091
dtype: float64

In [103]:
month10_df.mean()

month              10.000000
spend             466.353718
impressions    108253.905547
clicks             92.748703
conversions        47.458244
dtype: float64

In [104]:
month11_df.mean()

month              11.000000
spend             469.856595
impressions    108890.763231
clicks             93.483998
conversions        47.468412
dtype: float64

In [93]:
month12_df.mean() #lower than others

month             12.000000
spend            466.392975
impressions    94038.672098
clicks            92.768109
conversions       47.321363
dtype: float64

In [86]:
#How many creative colors were run in February?
month2_df['creative_name'].value_counts()

white          4855
orange         4702
White          1371
Orange         1320
orange**new     756
white**new      737
black           250
teal            242
Black            63
Teal             54
teal**new        37
black**new       35
Name: creative_name, dtype: int64

In [ ]:
#If this client asked you what CPA you'd project for next month what would be the most important questions
#you want to ask prior to providing a response?